<!doctype html>
<html>
<head>
	<title>Meandowlark Travel</title>
</head>
<body>
	<header><img src="/img/logo.png" style="width:900px;height:auto" alt="Meadowlark Travel logo" /></header>
	{{{body}}}
</body>
</html>
